body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

ul {
  list-style-type: none;
}

.team-item-img {
  width: 264px;
}

.header {
  width: 1128px;
  height: 72px;
}

.logo {
  font-family: "Railway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
}
.logo .accent {
  color: #4d5ae5;
}
